<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link type='text/css' rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link type='text/css' rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link type='text/css' rel='stylesheet' href='/stylesheets/prettify.css' />
    <link type='text/css' rel='stylesheet' href='/stylesheets/select2.css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link type='text/css' rel='stylesheet' href='/stylesheets/master-style.css' />
    <link type='text/css' rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript">
      <%= user %>  
    </script>

  </head>
  <body>
    <div id='rootProgress' class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      </div>
    </div>
    <script type="text/x-handlebars" data-template-name="header">
      <div class='header'>
        <nav class='navbar navbar-default' role='navigation'>
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'><%= brand %></a>
          </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class='collapse navbar-collapse navbar-ex1-collapse'>
            <ul id='ulLogin' class='nav navbar-nav navbar-right'>
              <li><a class="<%= hidelogin %>" {{bindAttr href='loginurl'}}>Login</a></li>
              <li><a class="<%= hidelogin %>" {{bindAttr href='loginurl'}}>Signup</a></li>
              <li class="dropdown <%= hidelogout %>">
                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                    <%= fullname %>
                   <b class='caret'></b>
                </a>
                <ul class='dropdown-menu'>
                  <li><a href='#'>My Profile</a></li>
                  <li><a href='#'>Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
      <div class='container'>
        <div class='sub-header'>
          <div class='row'>
            <div class='mainSection col-xs-12 col-sm-12 col-lg-9'>
              <div class='row'>
                <div class='col-xs-12 col-sm-10 col-lg-10'>
                  <div class='searchbox'>
                    <input type="text" placeholder="Search questions and answers..." class="noborder noboxshadow" />
                  </div>
                </div>
                <div class="pull-left mtl imglnk width2per"><img src="/images/img_searchlnk.png" alt=" " longdesc="#." style="width:100%;"></div>
                <div class='col-xs-12 col-sm-2 col-lg-2'>
                  <button href="#." class="btn btn-flat btn-green">Search</button>
                </div>        
              </div> 
            </div>
            <div class='sideSection col-xs-12 col-sm-12 col-lg-3'>
              <div class='row'>
                <div class='col-xs-12 col-sm-12 col-lg-12'>
                  <div class="nospace btnquestion">
                    <a href="/questions/ask" class="btn btn-flat btn-skyblue pull-right btnquestion">
                      <span class="mrm icon_ask">&nbsp;</span>Ask a Question
                    </a>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <%- body -%>

    <script type="text/x-handlebars" data-template-name="footer">
      <div class='footer'>
        <nav class='footer navbar-default' role='navigation'>
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
        </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class='collapse navbar-collapse navbar-ex1-collapse'>
            <ul id='ulLogin' class='nav navbar-nav navbar-left'>
              <li><a href='#'>about</a></li>
              <li><a href='#'>contact us</a></li>
              <li><a href='#'>feedback</a></li>
              <li><a href='#'>help</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </script>

    <script type='text/javascript' src='/javascripts/infra/jquery.js'></script>
    <script type='text/javascript' src='/javascripts/infra/bootstrap.js'></script>
    <script type='text/javascript' src='/javascripts/infra/util.js'></script>
    <script type='text/javascript' src="/javascripts/infra/handlebars.js"></script>
    <script type='text/javascript' src="/javascripts/infra/ember.js"></script>
    <script type="text/javascript" src="/javascripts/infra/ember-states.js"></script>
    <script type='text/javascript' src="/javascripts/infra/ember-data-beta-1.0.js"></script>
    <script type='text/javascript' src="/javascripts/infra/markdown-editor.js"></script>
    <script type='text/javascript' src="/javascripts/infra/moment.js"></script>

    <script type='text/javascript' src="/javascripts/app.js"></script>

    <!-- store -->
    <script type='text/javascript' src="/javascripts/store.js"></script>

    <!-- models -->
    <script type='text/javascript' src="/javascripts/models/question.js"></script>
    <script type='text/javascript' src="/javascripts/models/answer.js"></script>
    <script type='text/javascript' src="/javascripts/models/tag.js"></script>
    <script type='text/javascript' src="/javascripts/models/comment.js"></script>
    <script type='text/javascript' src="/javascripts/models/user.js"></script>

    <%- scripts %>    

    <!-- views -->
    <script type='text/javascript' src="/javascripts/views/headerView.js"></script>
    <script type='text/javascript' src="/javascripts/views/footerView.js"></script>
  </body>
</html>